/*
  Datei: colors.css
  Beschreibung: Enthält jede Farbe der einzelnen Fächer, bei Farbänderung lediglich den Farbcode anpassen
  Letzte Überarbeitung: 17.02.25 - 20:37
 */

.mathe-bg {
    background-color: #D2212B;
}

.geschichte-bg {
    background-color: #F07F1F;
}

.deutsch-bg {
    background-color: #F8D306;
}

.bio-bg {
    background-color: #019908;
}

.politik-bg {
    background-color: #769B70;
}

.dsp-bg {
    background-color: #00A9CC;
}

.musik-bg {
    background-color: #009ACC;
}

.englisch-bg {
    background-color: #10457B;
}

.spanisch-bg {
    background-color: #7D00CC;
}

.französisch-bg {
    background-color: #7D00CC;
}

.latein-bg {
    background-color: #7D00CC;
}
.kunst-bg {
    background-color: #F26BAA;
}

.erdkunde-bg {
    background-color: #392115;
}

.religion-bg {
    background-color: #2e2e2e;
}

.werte-normen-bg {
    background-color: #2e2e2e;
}

.philosophie-bg {
    background-color: #2e2e2e;
}

.chemie-bg {
    background-color: #A6A6A6;
}

.informatik-bg {
    background-color: #6E6E6E;
}

.physik-bg {
    background-color: #000000;
}