body {
    background-color: #455266;
}

.darktheme-bg-light {
    background-color: #455266;
}

.darktheme-bg {
    background-color: #374151;
}

.darktheme-bg-dark {
    background-color: #172029;
}

/** Home - Header **/
.header__container {
    background-color:  #374151;
}

.header__content-heading {
    color: #ffffff;
}

.header__content-text {
    color: #ffffff;
}

.header__picture {
    border-color: #ffffff;
}

/** Home - Angebote Lehrer **/
.angebote__main {
    background-color: #455266;
}

.angebote__heading {
    color: #ffffff;
}

.angebote__grid {
    background-color: #374151;
}

.angebote__divider {
    background-color: #374151;
}

.angebote__item {
    background-color: #455266;
}

.angebote__item-status {
    color: #ffffff;
    border-color: #ffffff;
}

.angebote__item-heading {
    color: #ffffff;
}

/** Navigation **/

.nav {
    background-color: #455266;
}

.nav__heading {
    color: #ffffff;
}

.nav__username {
    color: #ffffff;
}

.nav__sub {
    background-color: #172029;
}

.nav__switch {
    color: #ffffff;
    border: 0.1rem solid #ffffff;
}

.nav__switch--active {
    cursor: initial;
    border: 0.1rem solid #5853F5;
    color: #5853F5;
}

/** Buttons **/

.button__border--big {
    border-color: #5853F5;
    outline-color: #5853F5;
    color: #5853F5;
    background-color: transparent;
}

.button__border--big:hover {
    border-color: #5853F5;
    outline-color: #374151;
}

.button__border--big-inner {
    color: #5853F5;
}

/** Icons **/

.icon__button {
    background-color: #374151;
    color: #ffffff;
}

/** Footer **/

.footer {
    background-color: #172029;
}

/** Profil **/

.profil__card {
    background-color: #455266;
}


.profil__card-image {
    background-color: #374151;
    stroke: #5853F5;
    fill: #5853F5
}

.profil__card-name {
    color: #ffffff;
}

.profil__card-geschlecht {
    color: #ffffff;
}

.profil__card-form-control {
    color: #ffffff;
}

.profil__card-more {
    background-color: #455266;
}

.profil__card-more-heading {
    color: #ffffff;
}

/** Form **/

.form__input--label-small {
    color: #ffffff;
}

.form__input--text-small {
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.form__input--text-small::placeholder {
    color: #ffffff;
}

/** Logger **/

.logger__heading {
    color: #ffffff;
}

.logger__sub-heading {
    color: #5853F5;
}

.logger--text {
    color: #ffffff;
}

.logger__link {
    color: #5853F5;
}

.logger__button {
    background-color: #5853F5;
}

/** Offer - Details **/

.angebot__wrapper {
    background-color: #455266;
}

.angebot__content {
    background-color: #455266;
}

.angebot__fach {
    color: #ffffff;
}

.angebot__value {
    color: #ffffff;
}

.angebot__teilnehmer {
    background-color: #455266;
}

.angebot__teilnehmer-heading {
    color: #ffffff;
}

.angebot__teilnehmer-list {
    color: #ffffff;
    background-color: #455266;
}

.angebot__contact-explanation {
    color: #ffffff;
}

.angebot--empty {
    color: #ffffff;
}

.angebot__contact-heading {
    color: #ffffff;
}

.angebot__contact-edit {
    color: #ffffff;
    border-color: #ffffff;
}

.angebot__contact-edit:hover {
    background-color: #ffffff;
    color: #374151;
}