/*
  Datei: form.css
  Beschreibung: Enthält alle Styles zu den Formular-Elementen
  Letzte Überarbeitung: 17.02.25 - 20:38
 */

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0 0.5rem 0 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 50%;
    transform: translateY(0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #5853F5;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.form__group--row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__group--vertical {
    display: flex;
    flex-direction: column;
}

.form__input--text {
    outline: none;
    width: 18rem;
    height: 2.5rem;
    padding-left: 1rem;
    border: 0.1rem solid #374151;
    color: #374151;
    border-radius: 0.35rem;
}

.form__input--text:focus {
    border: 0.1rem solid #5853F5;
}

.form__input--text-small {
    outline: none;
    width: 10rem;
    height: 2rem;
    padding-left: 1rem;
    border: 0.1rem solid #374151;
    color: #374151;
    border-radius: 0.35rem;
}

.form__input--text-small:focus {
    border: 0.1rem solid #5853F5;
}

.form__input--password {
    outline: none;
    width: 18rem;
    height: 2.5rem;
    padding-left: 1rem;
    border: 0.1rem solid #374151;
    color: #374151;
    border-radius: 0.25rem;
}

.form__input--password:focus {
    border: 0.1rem solid #5853F5;
}

.form__input--label {
    color: #374151;
}

.form__input--label-small {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #374151;
    font-weight: 500;
}

.form__button {
    width: 18rem;
    outline: none;
    height: 2.5rem;
    background-color: #5853F5;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    color: #fff;
}

.form__button--light {
    width: 18rem;
    outline: none;
    height: 2.5rem;
    background-color: #374151;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    color: #fff;
}

/* Range Input Styles */

.form__input--range {
    -webkit-appearance: none;
    appearance: none;
    width: 12rem;
    height: 0.5rem;
    background: #d5d5d5;
    outline: none;
    border-radius: 0.35rem;
}

.form__input--range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    background: #5853F5;
    cursor: pointer;
    border-radius: 100000px;
    transition: background-color ease-in-out 0.3s;
}

.form__input--range::-moz-range-thumb {
    width: 1.1rem;
    height: 1.1rem;
    background: #5853F5;
    cursor: pointer;
    border-radius: 100000px;
    transition: background-color ease-in-out 0.3s;
}

.form__input--range-value {
    height: 2rem;
    background-color: #5853F5;
    color: #ffffff;
    width: 3.5rem;
    margin-left: 0.3rem;
    border-radius: 0.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input--textarea {
    height: 3.5rem;
    resize: vertical;
    width: 65%;
    outline: none;
    border: 0.1rem solid #374151;
    border-radius: 0.35rem;
    color: #374151;
    padding: 0.5rem;
}

@media only screen and (max-width: 500px){
    .form__input--textarea {
       width: 18rem;
    }
}

.form__input--textarea:focus {
    border: 0.1rem solid #5853F5;
}

.form__error--container {
    position: relative;
}

.form__error {
    position: absolute;
    font-size: 0.8rem;
    color: #FA4B4B;
}

.form__visibility {
    height: 2rem;
    width: 2rem;
    background-color: #F3F4F6;
    color: #374151;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1.75rem;
    left: 15rem;
    border-radius: 100000px;
    cursor: pointer;
}

.form__visibility--none {
    display: none;
}

.form__highlight {
    color: #5853F5;
}

.form__vorgabe {
    font-size: 0.7rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    color: #374151;
}

.form__popup {
    height: 15rem;
}

.form__popup-button {
    margin-left: 5.5rem;
    margin-top: 1rem;
}

.form__select-container {
    position: relative;
    width: 25rem;
    color: #374151;
}

.form__select-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border: 0.1rem solid #F3F4F6;
    border-radius: 0.15rem;
    width: 60%;
    height: 2.2rem;
    font-size: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    z-index: 3;
}

.form__select-container.active .form__select-arrow {
    transform: rotate(-0deg);
}

.form__select-container.active .form__select-list {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.form__select-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
    transform: rotate(90deg);
}

.form__select-list {
    position: absolute;
    list-style: none;
    width: 60%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #F3F4F6;
    border-radius: 0.15rem;
    padding: 10px;
    margin-top: 10px;
    max-height: 10rem;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.form__select-list:focus-within {
    box-shadow: 0 10px 25px rgba(88, 83, 245, 0.6);
}

.form__select-option {
    gap: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form__select-option label {
    width: 100%;
    cursor: pointer;
    padding: 0.2rem 0.2rem;
}

.form__select-list::-webkit-scrollbar {
    width: 7px;
}
.form__select-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.form__select-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.form__select-option:hover,
.form__select-list input:checked ~ label {
    background-color: #f2f2f2;
}

.form__select-option input:focus ~ label {
    background-color: #dfdfdf;
}

.form__select-list input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

@media only screen and (max-width: 500px){
    .form__popup {
        height: 25rem;
    }

    .form__popup-button {
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width: 380px) {
    .form__input--password {
        width: 15rem;
    }

    .form__input--text {
        width: 15rem;
    }

    .form__button {
        width: 15rem;
    }

    .form__button--light {
        width: 15rem;
    }

    .form__visibility {
        left: 12rem;
    }

    .form__input--range {
        width: 8rem;
    }

    .form__input--textarea {
        width: 15rem;
    }
}