.header__container {
    width: 80%;
    margin-left: 10%;
    height: 20rem;
    margin-top: 3rem;
    background-color: #F3F4F6;
    border-radius: 0.5rem;
    display: flex;
}

@media only screen and (max-width: 940px) {
    .header__container {
        height: 40rem;
        flex-direction: column;
    }
}

.header__content {
    width: 50%;
    height: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 5rem;
}

.header__content-heading {
    font-size: 2.5rem;
    color: #374151;
    font-weight: 600;
}

.header__content-heading--center {
    text-align: center;
}

.header__content-text {
    font-size: 1.1rem;
    color: #374151;
}

.header__picture {
    width: 50%;
    height: 100%;
    border: 0.1rem solid #374151;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 940px) {
    .header__container {
        width: 90%;
        margin-left: 5%;
    }
    .header__content {
        width: 100%;
        padding-right: 2rem;
        height: 20rem;
    }

    .header__picture {
        width: 100%;
        height: 20rem;
    }
}

@media only screen and (max-width: 420px) {
    .header__content {
        padding: 1rem 1rem 0 1rem;
    }
    .header__content-heading {
        font-size: 2.1rem;
    }
}

.angebote__main {
    margin-top: 8rem;
    width: 90%;
    margin-left: 5%;
    height: 45rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.angebote__divider {
    width: 100%;
    height: 6rem;
    padding-left: 4rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #F3F4F6;
}

.angebote__heading {
    font-weight: 600;
    font-size: 1.5rem;
    color: #374151;
}

.angebote__link {
    display: block;
    margin-left: auto;
    margin-right: 4rem;
    text-decoration: none;
    color: #5853F5;
}

.angebote__grid {
    background-color: #F3F4F6;
    width: 100%;
    height: 32rem;
    padding-left: 4rem;
    padding-right: 4rem;
    overflow: hidden;
}

.angebote__grid--teacher {
    margin-bottom: 3rem;
    height: 24rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.angebote__grid--booked {
    padding-bottom: 3rem;
    height: auto;
    padding-top: 3rem;
}

.angebote__grid--open {
    padding-bottom: 3rem;
    height: auto;
    padding-top: 3rem;
}

.angebote__grid--hidden {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
}

.angebote__item {
    background-color: #ffffff;
    border-radius: 0.5rem;
    width: 18rem;
}

.angebote__item-header {
    width: 100%;
    height: 10rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angebote__item-icon {
    width: 5.5rem;
    height: 5.5rem;
    border: solid 0.1rem #F3F4F6;
    border-radius: 1000px;
    padding: 1rem;
}

.angebote__item-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.angebote__item-heading {
    font-weight: 600;
    color: #374151;
    margin-bottom: 1rem;
}

.angebote__item-status {
    width: 6rem;
    height: 1.5rem;
    border: 0.1rem solid #5853F5;
    color: #5853F5;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angebote__item-requests-list {
    color: #374151;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.angebote__item-request {
    margin-top: 0.5rem;
    width: 100%;
    height: 2.5rem;
    background-color: #F3F4F6;
    color: #374151;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.angebote__item-request-container {
    height: 9rem;
}

.angebote__item-request-image {
    width: 1.75rem;
    height: 1.75rem;
    background-color: #ffffff;
    border-radius: 10000px;
    margin-right: 1rem;
}

.angebote__item-request-name {
    color: #374151;
}

.angebote__item-request-add {
    margin-left: auto;
    margin-right: 2rem;
    outline: none;
    color: #374151;
    border: 0.09rem solid #374151;
    width: 4rem;
    height: 1.5rem;
    border-radius: 10000px;
    cursor: pointer;
}

.angebote__item-button {
    height: 2rem;
    margin-top: 1rem;
    border-radius: 10000px;
    outline: none;
    border: none;
    background-color: #5853F5;
    color: #ffffff;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.angebote__item-button:hover {
    background-color: #374151;
}

.angebote__item-booked-name {
    color: #374151;
    font-size: 1rem;
}

.angebote__booked {
    width: 100%;
    height: 30rem;
    background-color: #374151;
    margin-top: 5rem;
    padding-top: 2rem;
}

.angebote__booked-heading {
    text-align: center;
    color: #ffffff;
    font-weight: 550;
}

.angebote__booked-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    overflow: hidden;
    height: 15rem;
}

.angebote__booked-list--request {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.angebote__booked-item {
    width: 90%;
    height: 4.5rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .angebote__booked-item {
        width: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 18rem;
        padding-top: 1rem;
    }

    .angebote__booked-home {
        height: auto;
        padding-bottom: 2rem;
    }

    .angebote__booked-list--home {
        height: auto;
        padding: 2rem calc((100% - 44rem) / 2) 2rem calc((100% - 44rem) / 2);
        display: grid;
        grid-template-columns: 14rem 14rem 14rem;
        column-gap: 1rem;
    }

    .angebote__booked-item--home {
        height: 18rem;
        width: 14rem;
    }
}

@media only screen and (max-width: 730px){
    .angebote__booked-list--home {
        padding: 2rem calc((100% - 30rem) / 2) 2rem calc((100% - 30rem) / 2);
        grid-template-columns: 14rem 14rem;
    }
}

@media only screen and (max-width: 520px){
    .angebote__booked-list--home {
        padding: 2rem calc((100% - 16rem) / 2) 2rem calc((100% - 16rem) / 2);
        grid-template-columns: 14rem;
    }
}

.angebote__booked-wrapper {
    width: 20%;
    height: 100%;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angebote__booked-icon {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #ffffff;
    padding: 0.3rem;
}

@media only screen and (max-width: 1200px) {
    .angebote__booked-wrapper {
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 10000px;
    }

    .angebote__booked-icon {
        border: none;
    }
}

.angebote__booked-class {
    width: 10%;
    height: 100%;
    color: #5853F5;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.angebote__booked-name {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 3.5rem;
    color: #374151;
    font-size: 1.2rem;
}

.angebote__booked-age {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #374151;
}

.angebote__booked-status {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.angebote__booked-ausstehend {
    margin-left: 1rem;
    color: #FA4B4B;
}

@media only screen and (max-width: 1200px) {
    .angebote__booked-class {
        height: auto;
        width: auto;
        text-align: center;
        padding: 0;
        margin-top: 0.5rem;
    }

    .angebote__booked-name {
        height: auto;
        width: auto;
        text-align: center;
        padding: 0;
        margin-top: 0.5rem;
    }

    .angebote__booked-age {
        height: auto;
        width: auto;
        text-align: center;
    }

    .angebote__booked-status {
        margin-top: 0.5rem;
        height: auto;
        width: auto;
        text-align: center;
        padding: 0;
        flex-direction: column;
    }

    .angebote__booked-ausstehend {
        display: block;
        text-align: center;
        margin-left: 0;
    }
}

.angebote__booked-button {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .angebote__booked-button {
        height: 2.5rem;
        width: 8rem;
        justify-content: center;
    }
}

.angebote__booked-link {
    cursor: pointer;
    background-color: transparent;
    width: 7rem;
    transition: all 0.25s ease-in-out;
}

.angebote__booked-link:hover {
    transform: translateY(-0.15rem);
}

.angebote__booked-more {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-top: 2rem;
    color: #5853F5;
}

.angebote__heading--not-found {
    font-size: 1.1rem;
    margin-top: 3rem;
    color: #374151;
}

.angebote__heading--not-found-white {
    color: #ffffff;
}

.grid--middle {
    grid-column: 2 / 3;
}

@media only screen and (max-width: 400px) {
    .angebote__grid--hidden {
        grid-template-columns: 18.5rem;
        grid-row-gap: 2.5rem;
        justify-content: center;
    }

    .angebote__grid {
        height: available;
        overflow: visible;
        padding: 3rem 1rem;
    }

    .angebote__grid--hidden {
        overflow: visible;
    }

    .angebote__main {
        height: auto;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .angebote__heading {
        font-size: 1.2rem;
    }

    .angebote__divider {
        padding-left: 1rem;
    }

    .angebote__link {
        margin-right: 1rem;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 900px) and (min-width: 400px){
    .angebote__grid--hidden {
        grid-template-columns: 21.5rem;
        grid-row-gap: 2.5rem;
        justify-content: center;
    }

    .angebote__grid {
        height: available;
        overflow: visible;
        padding: 3rem 1rem;
    }

    .angebote__grid--hidden {
        overflow: visible;
    }

    .angebote__main {
        height: auto;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 900px) {
    .angebote__grid--hidden {
        grid-template-columns: 21.5rem 21.5rem;
        grid-row-gap: 2.5rem;
    }

    .angebote__grid {
        height: available;
        overflow: visible;
        padding: 3rem 2rem;
    }

    .angebote__grid--hidden {
        overflow: visible;
    }

    .angebote__main {
        height: auto;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}

@media only screen and (min-width: 1400px) {
    .angebote__grid--hidden {
        grid-template-columns: 21.5rem 21.5rem 21.5rem;
    }

    .angebote__grid {
        width: 78.75rem;
    }

    .angebote__divider {
        width: 78.75rem;
    }

    .angebote__main {
        align-items: center;
    }

    .angebote__booked {
        margin-left: calc(50% - 39.375rem);
        width: 78.75rem;
        border-radius: 0.5rem;
    }

    .header__container {
        width: 78.75rem;
        margin-left: calc(50% - 39.375rem);
    }
}

.angebote__grid--hidden-home {
    grid-template-columns: 18rem 18rem 18rem;
    grid-column-gap: 1rem;
    padding: 0 calc((100% - 56rem) / 2) 0 calc((100% - 56rem) / 2);
}

@media only screen and (max-width: 1060px) {
    .angebote__grid--hidden-home {
        grid-template-columns: 18rem 18rem;
        padding: 0 calc((100% - 38rem) / 2) 0 calc((100% - 38rem) / 2);
    }
}

@media only screen and (max-width: 700px) {
    .angebote__grid--hidden-home {
        grid-template-columns: 18rem;
        padding: 0 calc((100% - 20rem) / 2) 0 calc((100% - 20rem) / 2);
    }
}

@media only screen and (max-width: 350px) {
    .angebote__grid--hidden-home {
        grid-template-columns: 14rem;
        padding: 0 calc((100% - 16rem) / 2) 0 calc((100% - 16rem) / 2);
    }

    .angebote__item {
        width: 14rem;
    }
}

.angebote__grid--teacher-home {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

