/*
  Datei: login.css
  Beschreibung: Enthält alle Styles zur login.php
  Letzte Überarbeitung: 17.02.25 - 20:57
 */

.login__main {
    width: 100%;
    height: 100vh;
    background-color: #5853F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    width: 70%;
    height: 40rem;
    background-color: #fff;
    border-radius: 0.45rem;
    display: flex;
    align-items: center;
}

.login__container--small {
    width: 30rem;
    height: 20rem;
}

.login__container-contentholder {
    width: calc(40% - 0.5rem);
    margin-left: 0.5rem;
    height: calc(100% - 1rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #F3F4F6;
    border-radius: 0.45rem;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.login__container-contentholder--small {
    width: 30rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

.login__container-contentholder-heading {
    color: #374151;
    font-size: 2.2rem;
    letter-spacing: 0.02rem;
    font-weight: 600;
}

.login__container-contentholder-subtitle {
    color: #374151;
}

.login__link {
    color: #5853F5;
    cursor: pointer;
    text-decoration: none;
}

.login__link--small {
    color: #5853F5;
    cursor: pointer;
    display: block;
    font-size: 0.85rem;
    margin-top: 0.35rem;
}

.login__container-pictureholder {
    width: 55%;
    height: 80%;
    margin-left: 2.5%;
}

.login__form {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 440px) {
    .login__container-contentholder {
        padding-left: 0.5rem;
    }
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
    .login__container-contentholder {
        width: calc(100% - 1rem);
        margin: 0;
    }

    .login__container-pictureholder {
        display: none;
    }

    .login__container {
        width: 90%;
        justify-content: center;
    }

    .login__container--small {
        width: 30rem;
    }

    .login__container-contentholder--small {
        width: 30rem;
    }
}

@media only screen and (max-width: 500px){
    .login__container--small {
        width: 90%;
    }

    .login__container-contentholder--small {
        width: 100%;
    }

    .login--container-contentholder-heading-small {
        text-align: center;
    }
}

@media only screen and (max-width: 900px) and (min-width: 600px){
    .login__container-pictureholder {
        display: flex;
        justify-content: center;
        width: 40%;
    }
}

@media only screen and (min-width: 900px) {
    .login__container-contentholder {
        width: 50%;
    }

    .login__container-pictureholder {
        display: flex;
        justify-content: center;
        width: 40%;
    }

    .login__container {
        width: 90%;
    }

    .login__container--small {
        width: 30rem;
    }

    .login__container-contentholder--small {
        width: 30rem;
    }
}

@media only screen and (min-width: 990px){
    .login__container {
        width: 90%;
    }

    .login__container--small {
        width: 30rem;
    }

    .login__container-contentholder--small {
        width: 30rem;
    }
}

@media only screen and (min-width: 1200px){
    .login__container {
        width: 61.438rem;
    }

    .login__container--small {
        width: 30rem;
    }

    .login__container-contentholder--small {
        width: 30rem;
    }
}
