/*
  Datei: offers.css
  Beschreibung: Enthält alle Styles zur offers.php, es handelt sich um ein Grid-System um die Angebote(offene, gebuchte, ...) anzuzeigen
  Letzte Überarbeitung: 17.02.25 - 20:33
 */

.offers__container {
    width: 100%;
    padding: 3rem;
    display: grid;
    grid-template-columns: 21.5rem 21.5rem 21.5rem;
    grid-row-gap: 3rem;
    grid-column-gap: 4rem;
    justify-content: center;
}

.offers__list {
    width: 100%;
    padding: 3rem;
}

.offers__divider {
    height: 5rem;
}

@media only screen and (max-width: 1220px) and (min-width: 800px) {
    .offers__container {
        grid-template-columns: 21.5rem 21.5rem;
    }
}

@media only screen and (max-width: 800px) and (min-width: 390px){
    .offers__container {
        grid-template-columns: 21.5rem;
    }
}

@media only screen and (max-width: 390px) {
    .offers__container {
        grid-template-columns: 16.5rem;
    }
}