@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-0.2em);
        transform: translateY(-0.2em);
    }

    80% {
        -webkit-transform: translateY(-0.05em);
        transform: translateY(-0.05em);
    }
}

.angebot__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}

.angebot__wrapper {
    margin-top: 6rem;
    width: 23rem;
    height: 25rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.angebot__header {
    width: 100%;
    height: 10rem;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angebot__header-icon {
    width: 8em;
    height: 8em;
    border-radius: 10000px;
    padding: 1.2rem;
    border: 0.1rem solid #ffffff;
}

.angebot__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
}

.angebot__fach {
    color: #374151;
    font-weight: 650;
    font-size: 1.8em;
}

.angebot__info {
    font-weight: bold;
    font-size: 1.1em;
}

.angebot__value {
    margin-top: 0.5rem;
    font-size: 1em;
    color: #374151;
}

.angebot__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 2.5em;
    background-color: #5853F5;
    text-decoration: none;
    border-radius: 0.35rem;
    color: #ffffff;
    transition: all ease-in-out 0.2s;
    margin-left: calc(50% - 6em);
    margin-top: 2em;
    border: none;
    outline: none;
    cursor: pointer;
}

.angebot__link:hover {
    background-color: #4642C2;
}

.angebot__teilnehmer {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.angebot__teilnehmer-heading {
    color: #374151;
    text-align: center;
}

.angebot__teilnehmer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 2rem;
    z-index: 1;
}

.angebot__teilnehmer-subnav {
    width: 50%;
    height: 2.5rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 25%;
    border-radius: 3.5rem;
}

.angebot__teilnehmer-list {
    width: 18rem;
    height: 2.5rem;
    background-color: #ffffff;
    display: flex;
    color: #374151;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.angebot__teilnehmer-list--active {
    color: #5853F5;
    border-bottom: 0.1rem solid #5853F5;
}

.angebot__teilnehmer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 0 3rem;
    height: 20rem;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 600px){
    .angebot__teilnehmer-container {
        padding: 0 1rem 0 1rem;
    }
}

@media only screen and (max-width: 400px){
    .angebot__teilnehmer-container {
        padding: 0 0.5rem 0 0.5rem;
    }
}

.angebot__teilnehmer-wrapper {
    width: 60%;
    height: 4rem;
    background-color: #F3F4F6;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 12.5% 15% 20% 20%;
    align-items: center;
    border-radius: 0.35rem;
    position: relative;
    margin-top: 1.5em;
}

@media only screen and (max-width: 1190px){
    .angebot__teilnehmer-wrapper {
        width: 80%;
    }
}

@media only screen and (max-width: 820px){
    .angebot__teilnehmer-wrapper--second {
        display: flex;
        flex-direction: column;
        width: 16rem;
        height: 20rem;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 800px){
    .angebot__teilnehmer-wrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 800px){
    .angebot__teilnehmer-wrapper--second {
        display: flex;
        flex-direction: column;
        width: 14rem;
        height: 20rem;
    }
}

@media only screen and (max-width: 600px){
    .angebot__teilnehmer-wrapper {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media only screen and (max-width: 500px){
    .angebot__teilnehmer-wrapper {
        grid-template-columns: 25% 1fr 25% 4.5rem;
    }
}

.angebot__teilnehmer-image {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ffffff;
    border-radius: 10000px;
    margin-left: 1rem;
}

@media only screen and (max-width: 600px){
    .angebot__teilnehmer-image {
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .angebot__teilnehmer-image--second {
        display: block;
    }
}

.angebot__teilnehmer-icon {
    width: 100%;
    height: 100%;
}

.angebot__teilnehmer-name {
    font-size: 1.35rem;
    font-weight: normal;
}

@media only screen and (max-width: 820px){
    .angebot__teilnehmer-name--second {
        text-align: center;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px){
    .angebot__teilnehmer-name {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 600px){
    .angebot__teilnehmer-name--second {
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 400px){
    .angebot__teilnehmer-name {
        margin-left: 0.5rem;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 400px){
    .angebot__teilnehmer-name--second {
        margin-left: 0;
        font-size: 1.35rem;
    }
}

.angebot__teilnehmer-more {
    color: #4642C2;
}

.angebot__teilnehmer-delete {
    cursor: pointer;
    width: 9.5rem;
    height: 2rem;
    background-color: #4642C2;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    color: #ffffff;
}

.angebot__teilnehmer-delete--small {
    display: none;
}

.angebot__teilnehmer-delete--tiny {
    display: none;
}

@media only screen and (max-width: 600px){
    .angebot__teilnehmer-delete {
        display: none;
    }

    .angebot__teilnehmer-delete--small {
        display: block;
        width: 6rem;
    }
}

@media only screen and (max-width: 500px){
    .angebot__teilnehmer-delete--small {
        display: none;
    }

    .angebot__teilnehmer-delete--tiny {
        display: block;
        width: 4rem;
    }
}

.angebot__anfragen-annehmen {
    cursor: pointer;
    width: 7rem;
    height: 2rem;
    background-color: #5853F5;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    color: #ffffff;
}

.angebot__anfragen-ablehnen {
    cursor: pointer;
    width: 7rem;
    height: 2rem;
    background-color: #374151;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    color: #ffffff;
}

@media only screen and (max-width: 820px){
    .angebot__anfragen-annehmen--second {
        margin-top: 1rem;
    }

    .angebot__anfragen-ablehnen--second {
        margin-top: 0.5rem;
    }
}

.angebot__contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 35rem;
    padding: 0 3rem 0 3rem;
    align-items: center;
}

.angebot__contact-container--small {
    height: 15rem;
}

.angebot__contact-explanation {
    width: 50%;
    margin-top: 2rem;
    text-align: center;
}

.angebot__contact-heading {
    color: #374151;
    width: 50%;
    margin-top: 2rem;
    text-align: center;
}

.angebot__contact-wrapper {
    width: 20rem;
    height: 2.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 0.15rem;
    border: 0.1rem #5853F5 solid;
    color: #5853F5;
}

.angebot__contact-wrapper-big {
    width: 30rem;
    height: 10rem;
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    border-radius: 0.15rem;
    border: 0.1rem #5853F5 solid;
    color: #5853F5;
}

@media only screen and (max-width: 500px){
    .angebot__contact-wrapper-big {
        width: 20rem;
    }

    .angebot__contact-wrapper {
        width: 15rem;
    }

    .angebot__contact-container {
        padding: 0 1rem 0 1rem;
    }

    .angebot__contact-heading {
        width: 80%;
    }
}

@media only screen and (max-width: 360px){
    .angebot__contact-wrapper-big {
        width: 18rem;
    }
}

.angebot__width {
    width: 50%;
    display: flex;
    justify-content: center;
}

.angebot__contact-edit {
    width: 15rem;
    height: 2.5rem;
    margin-top: 2rem;
    outline: none;
    border: 0.1em solid #374151;
    background-color: transparent;
    font-size: 1em;
    color: #374151;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.15rem;
    transition: all 0.2s ease-in-out;
}

.angebot__contact-edit:hover {
    background-color: #374151;
    color: #ffffff;
}

.angebot__hide {
    display: none;
}

.popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    z-index: 10;
}

.popup__ontainer--medium {
    position: fixed;
    width: 30rem;
    height: 25rem;
    background-color: #F3F4F6;
    z-index: 11;
    top: 12rem;
    left: calc(50% - 15rem);
    border-radius: 0.15rem;
    padding: 0.5rem;
}

.popup__container--small {
    height: 15rem;
}

.popup__container--left {
    left: auto;
    right: 2rem;
    top: 2rem;
    width: 20rem;
}


.popup__container-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__container-heading {
    font-weight: normal;
    font-size: 1.5rem;
}

.popup__container-heading--five-hundred {
    display: none;
}

@media only screen and (max-width: 500px){
    .popup__container-heading--hide {
        display: none;
    }

    .popup__container-heading--five-hundred {
        display: block;
    }
}


.popup__container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.popup--hide {
    display: none;
}

.popup__form-container {
    padding-left: 1rem;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.popup__form-margin {
    margin-top: 1rem;
}

.popup__form-radio-container {
    display: flex;
    flex-direction: column;
}

.popup__form-radio-container input[type="radio"]{
    cursor: pointer;
}

.popup__form-label {
    width: 100%;
    cursor: pointer;
}

.popup__form-radio-group {
    display: flex;
}

.angebote__grid-filter {
    text-align: center;
    grid-column: 2/3;
    color: #5853F5;
    text-decoration: none;
    font-size: 1.1rem;
}

.angebote__grid-filter-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angebot__contact-email {
    font-size: 0.9rem;
}

.angebot--hide-third {
    align-items: center;
}

@media only screen and (max-width: 350px) {
    .popup__ontainer--medium {
        width: 18rem;
        left: calc(50% - 9rem);
    }
}

@media only screen and (max-width: 500px) and (min-width: 350px) {
    .popup__ontainer--medium {
        width: 20rem;
        left: calc(50% - 10rem);
    }

    .popup__container-heading--to-small {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .angebot__wrapper {
        width: 16rem;
    }
}

@media only screen and (max-width: 470px){
    .angebot__teilnehmer-subnav--eigene-angebote {
        flex-direction: column;
        height: 9rem;
    }
}

@media only screen and (max-width: 590px){
    .angebot__teilnehmer-subnav--eigene-angebote {
        width: 98%;
        margin-left: 1%;
    }
}

@media only screen and (max-width: 700px){
    .angebot__teilnehmer-list--eigene-angebote {
        width: 14rem;
    }
}

@media only screen and (max-width: 950px) and (min-width: 590px){
    .angebot__teilnehmer-subnav--eigene-angebote {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1100px){
    .angebot__contact-container--small {
        height: 22rem;
        padding: 0 2rem 0 2rem;
    }

    .angebot__contact-explanation {
        width: 75%;
    }
}

@media only screen and (max-width: 600px){
    .angebot__contact-explanation {
        width: 90%;
    }
}
