.nav--sub {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #374151;
    height: 2.5rem;
    align-items: center;
    padding-left: 3rem;
}

.nav--sub-action {
    padding: 0.2em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ffffff;

}

.nav--sub-action:hover {
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-0.2em);
        transform: translateY(-0.2em);
    }

    80% {
        -webkit-transform: translateY(-0.05em);
        transform: translateY(-0.05em);
    }
}

.angebot--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}

.angebot--wrapper {
    margin-top: 6rem;
    width: 23rem;
    height: 25rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.angebot--header {
    width: 100%;
    height: 10rem;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angebot--header-icon {
    width: 8em;
    height: 8em;
    border-radius: 10000px;
    padding: 1.2rem;
    border: 0.1rem solid #ffffff;
}

.angebot--content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
}

.angebot--fach {
    color: #374151;
    font-weight: 650;
    font-size: 1.8em;
}

.angebot--info {
    font-weight: bold;
    font-size: 1.1em;
}

.angebot--value {
    margin-top: 0.5rem;
    font-size: 1em;
    color: #374151;
}

.angebot--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 2.5em;
    background-color: #5853F5;
    text-decoration: none;
    border-radius: 0.35rem;
    color: #ffffff;
    transition: all ease-in-out 0.2s;
    margin-left: calc(50% - 6em);
    margin-top: 2em;
    border: none;
    outline: none;
    cursor: pointer;
}

.angebot--link:hover {
    background-color: #4642C2;
}

.angebot--teilnehmer {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.angebot--teilnehmer-heading {
    color: #374151;
    text-align: center;
}

.angebot--teilnehmer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 2rem;
    z-index: 1;
}

.angebot--teilnehmer-subnav {
    width: 50%;
    height: 2.5rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 25%;
    border-radius: 3.5rem;
}

.angebot--teilnehmer-list {
    width: 18rem;
    height: 2.5rem;
    background-color: #ffffff;
    display: flex;
    color: #374151;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.angebot--teilnehmer-list-active {
    color: #5853F5;
    border-bottom: 0.1rem solid #5853F5;
}

.angebot--teilnehmer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 0 3rem;
    height: 20rem;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 600px){
    .angebot--teilnehmer-container {
        padding: 0 1rem 0 1rem;
    }
}

@media only screen and (max-width: 400px){
    .angebot--teilnehmer-container {
        padding: 0 0.5rem 0 0.5rem;
    }
}

.angebot--teilnehmer-wrapper {
    width: 60%;
    height: 4rem;
    background-color: #F3F4F6;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 12.5% 15% 20% 20%;
    align-items: center;
    border-radius: 0.35rem;
    position: relative;
    margin-top: 1.5em;
}

@media only screen and (max-width: 1190px){
    .angebot--teilnehmer-wrapper {
        width: 80%;
    }
}

@media only screen and (max-width: 820px){
    .angebot--teilnehmer-wrapper-second {
        display: flex;
        flex-direction: column;
        width: 16rem;
        height: 20rem;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 800px){
    .angebot--teilnehmer-wrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 800px){
    .angebot--teilnehmer-wrapper-second {
        display: flex;
        flex-direction: column;
        width: 14rem;
        height: 20rem;
    }
}

@media only screen and (max-width: 600px){
    .angebot--teilnehmer-wrapper {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media only screen and (max-width: 500px){
    .angebot--teilnehmer-wrapper {
        grid-template-columns: 25% 1fr 25% 4.5rem;
    }
}

.angebot--teilnehmer-image {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ffffff;
    border-radius: 10000px;
    margin-left: 1rem;
}

@media only screen and (max-width: 600px){
    .angebot--teilnehmer-image {
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .angebot--teilnehmer-image-second {
        display: block;
    }
}

.angebot--teilnehmer-icon {
    width: 100%;
    height: 100%;
}

.angebot--teilnehmer-name {
    font-size: 1.35rem;
    font-weight: normal;
}

@media only screen and (max-width: 820px){
    .angebot--teilnehmer-name-second {
        text-align: center;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px){
    .angebot--teilnehmer-name {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 600px){
    .angebot--teilnehmer-name-second {
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 400px){
    .angebot--teilnehmer-name {
        margin-left: 0.5rem;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 400px){
    .angebot--teilnehmer-name-second {
        margin-left: 0;
        font-size: 1.35rem;
    }
}

.angebot--teilnehmer-more {
    color: #4642C2;
}

.angebot--teilnehmer-delete {
    cursor: pointer;
    width: 9.5rem;
    height: 2rem;
    background-color: #4642C2;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    color: #ffffff;
}

.angebot--teilnehmer-delete-small {
    display: none;
}

.angebot--teilnehmer-delete-tiny {
    display: none;
}

@media only screen and (max-width: 600px){
    .angebot--teilnehmer-delete {
        display: none;
    }

    .angebot--teilnehmer-delete-small {
        display: block;
        width: 6rem;
    }
}

@media only screen and (max-width: 500px){
    .angebot--teilnehmer-delete-small {
        display: none;
    }

    .angebot--teilnehmer-delete-tiny {
        display: block;
        width: 4rem;
    }
}

.angebot--anfragen-annehmen {
    cursor: pointer;
    width: 7rem;
    height: 2rem;
    background-color: #5853F5;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    color: #ffffff;
}

.angebot--anfragen-ablehnen {
    cursor: pointer;
    width: 7rem;
    height: 2rem;
    background-color: #374151;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    color: #ffffff;
}

@media only screen and (max-width: 820px){
    .angebot--anfragen-annehmen-second {
        margin-top: 1rem;
    }

    .angebot--anfragen-ablehnen-second {
        margin-top: 0.5rem;
    }
}

.angebot--contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 35rem;
    padding: 0 3rem 0 3rem;
    align-items: center;
}

.angebot--contact-container-small {
    height: 15rem;
}

.angebot--contact-explanation {
    width: 50%;
    margin-top: 2rem;
    text-align: center;
}

.angebot--contact-heading {
    color: #374151;
    width: 50%;
    margin-top: 2rem;
    text-align: center;
}

.angebot--contact-wrapper {
    width: 20rem;
    height: 2.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 0.15rem;
    border: 0.1rem #5853F5 solid;
    color: #5853F5;
}

.angebot--contact-wrapper-big {
    width: 30rem;
    height: 10rem;
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    border-radius: 0.15rem;
    border: 0.1rem #5853F5 solid;
    color: #5853F5;
}

@media only screen and (max-width: 500px){
    .angebot--contact-wrapper-big {
        width: 20rem;
    }

    .angebot--contact-wrapper {
        width: 15rem;
    }

    .angebot--contact-container {
        padding: 0 1rem 0 1rem;
    }

    .angebot--contact-heading {
        width: 80%;
    }
}

@media only screen and (max-width: 360px){
    .angebot--contact-wrapper-big {
        width: 18rem;
    }
}

.angebot--width {
    width: 50%;
    display: flex;
    justify-content: center;
}

.angebot--contact-edit {
    width: 15rem;
    height: 2.5rem;
    margin-top: 2rem;
    outline: none;
    border: 0.1em solid #374151;
    background-color: transparent;
    font-size: 1em;
    color: #374151;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.15rem;
    transition: all 0.2s ease-in-out;
}

.angebot--contact-edit:hover {
    background-color: #374151;
    color: #ffffff;
}

.angebot--hide {
    display: none;
}

.popup--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    z-index: 10;
}

.popup--container-medium {
    position: fixed;
    width: 30rem;
    height: 25rem;
    background-color: #F3F4F6;
    z-index: 11;
    top: 12rem;
    left: calc(50% - 15rem);
    border-radius: 0.15rem;
    padding: 0.5rem;
}

.popup--container-small {
    height: 15rem;
}

.popup--container-left {
    left: auto;
    right: 2rem;
    top: 2rem;
    width: 20rem;
}


.popup--container-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup--container-heading {
    font-weight: normal;
    font-size: 1.5rem;
}

.popup--container-heading-fivehundred {
    display: none;
}

@media only screen and (max-width: 500px){
    .popup--container-heading-hide {
        display: none;
    }

    .popup--container-heading-fivehundred {
        display: block;
    }
}


.popup--container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.popup--hide {
    display: none;
}

.form--select-container {
    position: relative;
    width: 25rem;
    color: #374151;
}

.form--select-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border: 0.1rem solid #F3F4F6;
    border-radius: 0.15rem;
    width: 60%;
    height: 2.2rem;
    font-size: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    z-index: 3;
}

.form--select-container.active .form--select-arrow {
    transform: rotate(-0deg);
}

.form--select-container.active .form--select-list {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.form--select-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
    transform: rotate(90deg);
}

.form--select-list {
    position: absolute;
    list-style: none;
    width: 60%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #F3F4F6;
    border-radius: 0.15rem;
    padding: 10px;
    margin-top: 10px;
    max-height: 10rem;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.form--select-list:focus-within {
    box-shadow: 0 10px 25px rgba(88, 83, 245, 0.6);
}

.form--select-option {
    gap: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form--select-option label {
    width: 100%;
    cursor: pointer;
    padding: 0.2rem 0.2rem;
}

.form--select-list::-webkit-scrollbar {
    width: 7px;
}
.form--select-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.form--select-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.form--select-option:hover,
.form--select-list input:checked ~ label {
    background-color: #f2f2f2;
}

.form--select-option input:focus ~ label {
    background-color: #dfdfdf;
}

.form--select-list input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

.popup--form-container {
    padding-left: 1rem;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.popup--form-margin {
    margin-top: 1rem;
}

.popup--form-radio-container {
    display: flex;
    flex-direction: column;
}

.popup--form-radio-container input[type="radio"]{
    cursor: pointer;
}

.popup--form-label {
    width: 100%;
    cursor: pointer;
}

.popup--form-radio-group {
    display: flex;
}

.angebote--grid-filter {
    text-align: center;
    grid-column: 2/3;
    color: #5853F5;
    text-decoration: none;
    font-size: 1.1rem;
}

.angebote--grid-filter-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angebot--contact-email {
    font-size: 0.9rem;
}

.nav--sub-hide-more {
    display: none;
}

.nav--sub-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.nav--sub-action-dark {
    color: #374151;
}

.angebot--hide-third {
    align-items: center;
}

@media only screen and (max-width: 350px) {
    .popup--container-medium {
        width: 18rem;
        left: calc(50% - 9rem);
    }
}

@media only screen and (max-width: 500px) and (min-width: 350px) {
    .popup--container-medium {
        width: 20rem;
        left: calc(50% - 10rem);
    }

    .popup--container-heading-to-small {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .angebot--wrapper {
        width: 16rem;
    }
}

@media only screen and (max-width: 470px){
    .angebot--teilnehmer-subnav-eigeneAngebote {
        flex-direction: column;
        height: 9rem;
    }
}

@media only screen and (max-width: 590px){
    .angebot--teilnehmer-subnav-eigeneAngebote {
        width: 98%;
        margin-left: 1%;
    }
}

@media only screen and (max-width: 700px){
    .angebot--teilnehmer-list-eigeneAngebote {
        width: 14rem;
    }
}

@media only screen and (max-width: 950px) and (min-width: 590px){
    .angebot--teilnehmer-subnav-eigeneAngebote {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1100px){
    .angebot--contact-container-small {
        height: 22rem;
        padding: 0 2rem 0 2rem;
    }

    .angebot--contact-explanation {
        width: 75%;
    }
}

@media only screen and (max-width: 600px){
    .nav--sub-hide {
        display: none;
    }

    .nav--sub-hide-more {
        display: flex;
    }

    .angebot--contact-explanation {
        width: 90%;
    }
}
